body{
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
};
#container{
    top: 100px;
}
.image{
    border: 1px solid rgb(47, 41, 41);
    border-radius: 10px;
    width: 50px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    background-size: cover;
}
.image:nth-child(1){
    background-image: url(/img/1.jpg);
}
.image:nth-child(2){
    background-image: url(/img/2.jpeg);
}
.image:nth-child(3){
    background-image: url(/img/3.jpg);
}
.image:nth-child(4){
    background-image: url(/img/4.jpg);
}
.image:nth-child(5){
    background-image: url(/img/5.jpg);
}
.image:nth-child(6){
    background-image: url(/img/6.jpg);
}
.image:nth-child(7){
    background-image: url(/img/7.jpg);
}
.image:nth-child(8){
    background-image: url(/img/8.jpg);
}